@import './variables.less';
@import './helper.css';
@import './reset/index.less';
@import './common.less';

.page-content {
  position: relative;
  padding: 16px 24px;
  background-color: @white-color;
}

.tabs-table {
  .ant-card-body {
    padding: 0;
  }

  .ant-pro-table-search {
    margin-bottom: 0;
    padding: 12px 0;
  }
}

.input-addon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 11px;
  color: #262626;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid @border-color-base;
  border-radius: 2px;
  transition: all 0.3s;
}

.required::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

.ant-pro-global-header-layout-mix {
  color: @heading-color !important;
  background-color: #fff !important;
  .ant-pro-global-header-logo h1 {
    color: @heading-color !important;
  }
}
